@charset "utf-8";
/* CSS Document */

/*reusable-scope*/
.text-center{
	text-align: center;
}
.distance-top-reset {
	margin-top: 0;
	padding-top: 0;
}
.content-header {
	font-size:36px;
	margin-top: 6%;
	margin-bottom: 4%;
}
.img-center {
	margin:0 auto;
	width: auto;
	cursor: pointer;
}
.caption-img{
	font-size: 24px;
	font-weight:bold;
	margin-top: 5px;
	text-align:center;
}
/*end reusable-scope*/
body{
	position:relative;
}
.distance-uppermost{
	margin-top: 10%;
	position: relative;
}
.floor{
	background-color: rgba(255,255,255,1.00);
	background-image: url(../img/my-background_02.jpg); 
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% 40%;
	position:relative;
}
.nav-left li {
	padding-right: 25px;
}
.table-align {
	padding-bottom: 8%;
	padding-left: 5%;
	height: 300px;
	width: 600px;
}
.text-head {
	font-size: 60px;
}
li>a {
	font-size: 16px;
}
hgroup h2{
	margin-top: -10px;
}
.social-connections li img {
	-ms-transition:all 0.2s;
	transition:all 0.3s;
	-ms-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	overflow: hidden;
	cursor: pointer;
}
.social-connections li img:hover {
	transform-origin:center top;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
/*-----about-me------*/
.separating-div{
	margin-top: 5%;
}
.social-icon{
	padding-bottom: 10px;
}
.about-text{
	font-size:18px;
}
.skills-distance{
	padding-bottom: 70px;
}
/*----contact-me------*/
.contact-bg{
	background-color: #b5a15e;
	padding-top: 10px;
	padding-bottom: 20px;
}
textarea{
	resize:vertical;
}
.devices-bg {
	background-color:#3366cc;
	margin-top: 10px;
}
.devices-padding{
	padding-top: 20px;
	padding-bottom: 30px;	
}
.contact-head{
	font-size:36px;
	margin-top: 1%;
	margin-bottom: 20px;;
}
.devices-tagline {
	padding-top: 15px;
	font-size: 30px;
	color:#ffffff;
}
.devices-tagline span{
	font-size: 36px;
}
.foo-last {
	background-color: #336699;
}
.foo-distance{
	color: #ffffff;
	padding-top: 1%;
}
.foo-distance a{
	color: #ffffff;
	font-style:italic;
}
.foo-distance a:hover{
	color: #ffffff;
	font-weight: bold;
}
@media screen and (max-width: 480px) {
	.text-head {
		font-size: 18px;
		padding-top: 20%;
		padding-bottom: -5%;
	}
	.text-head-subtext {font-size: 14px;}
	.response-h5 { font-size: 18px; text-align:center;}
	.response-5 span { font-size: 20px; text-align: center;}
	.response-footer-text { font-size: 12px; text-align: center;}
	.response-footer-text a { font-size: 12px; text-align: center;}
	.caption-img { font-size:16px;};
	.about-text { font-size:14px;};
}